
.lt_main .lt_nav{
  padding: 10px;
}
.lt_main .lt_nav li{
  float: left;
  width: 33.3%;
  
}
.lt_main .lt_nav li img{
  display: block;
  width: 100%;
  height: 100%;
}

.lt_items .oldPrice{
  text-decoration: line-through;
  padding-right: 4px;
}
.lt_items .price{
  color: red;
}